# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.sqlite3

# Environments
venv/
.env

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.mo

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# PyInstaller
dist/
build/
*.spec

# Logs y archivos temporales
*.log
*.tmp
*.bak

# Coverage reports
htmlcov/
.coverage

# pytest
.pytest_cache/

# Django migrations (opcional, si no quieres subir)
*/migrations/*.py
!*/migrations/__init__.py
